# **Day 3 Task 1**
### Website Scraping

In [ ]:
from bs4 import BeautifulSoup
import pandas as pd
from urllib.request import Request, urlopen
import seaborn as sns

In [ ]:
URL = "https://www.daftlogic.com/information-appliance-power-consumption.htm"
print(URL)

https://www.daftlogic.com/information-appliance-power-consumption.htm

In [ ]:
req = Request( url=URL, headers={'User-Agent': 'Chrome/114.0'})
page = urlopen(req).read()
page
title = str(page).split('<title>')[1].split('</title>')[0]
title

'Power Consumption of Typical Household Appliances'

In [ ]:
soup = BeautifulSoup(page, 'html.parser')
table = soup.find('table', id="tblApp")
table

In [ ]:
df = pd.read_html(str(table))[0]
df.head()

,Appliance,Minimum,Maximum,Standby,Other Name(s),References,Notes
0,100W light bulb (Incandescent),100W,100W,0W,NaN,[1],NaN
1,22 Inch LED TV,17W,17W,0.5W,NaN,NaN,NaN
2,"25"" colour TV",150W,150W,NaN,NaN,NaN,NaN
3,"3"" belt sander",1000W,1000W,NaN,NaN,NaN,NaN
4,32 Inch LED TV,20W,60W,1W,NaN,NaN,NaN

In [ ]:
df.to_csv("appliancesInfo.csv")
data=pd.read_csv("appliancesInfo.csv")
data.head()

,Unnamed: 0,Appliance,Minimum,Maximum,Standby,Other Name(s),References,Notes
0,0,100W light bulb (Incandescent),100W,100W,0W,NaN,[1],NaN
1,1,22 Inch LED TV,17W,17W,0.5W,NaN,NaN,NaN
2,2,"25"" colour TV",150W,150W,NaN,NaN,NaN,NaN
3,3,"3"" belt sander",1000W,1000W,NaN,NaN,NaN,NaN
4,4,32 Inch LED TV,20W,60W,1W,NaN,NaN,NaN

# **Task 2**
### Basic data manipulation and analysis using Pandas with a provided dataset

In [ ]:
df = pd.read_csv("Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [ ]:
temp = df.groupby(by=df.Species)
data = temp.SepalLengthCm.agg(func='mean')
data

Species
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: SepalLengthCm, dtype: float64

In [ ]:
corr = df.corr().loc['SepalLengthCm','PetalLengthCm']

<ipython-input-34-88e3f1379cf9>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr = df.corr().loc['SepalLengthCm','PetalLengthCm']

In [ ]:
print("Correlation between sepal length and petal length : ", corr.round(2))

Correlation between sepal length and petal length :  0.87

In [ ]:
temp2 = temp.PetalLengthCm.agg('max')
temp2_df = temp2.reset_index()  # Reset the index of temp2 to convert it into a DataFrame
print(temp2_df.max())

Species          Iris-virginica
PetalLengthCm               6.9
dtype: object